{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <form action="{% url 'saveedit' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input name="title" value="{{entrytitle}}" type="text">
        </div>
        <div class="form-group">
            <textarea style="height: 60vh;" name="text">{{entrytext}}</textarea>
        </div>
        <button type="submit">Save</button>
    </form>
{% endblock %}
